.navbar ul{
    display: none;
    background-color: #1aa4ff;
    position: absolute;
    top: 100%;
}
.navbar li:hover ul { display: block; }
.navbar, .navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar {
    height: 30px;
    background-color: #1aa4ff;
    padding-left: 25px;
    min-width: 470px;
}
.navbar li {
    float: left;
    position: relative;
    height: 100%;
}
.navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Impact;
    font-size: 16px;
}
.navbar ul li { float: none;
}

.navbar li:hover {
    background-color: #eeeeee;
}

.navbar li a:hover {
    color: #afa0b4;
}


.navbar ul li:hover {
    background-color: #eeeeee;
}

.navbar ul li a:hover {
    color: #afa0b4;
}

.navbar ul li:hover ul {
    display: block;
    position: absolute;
    left:0;
}
.navbar ul li:hover ul li a {
    display: block;
    color:#afa0b4;
    width: 100px;
    text-align: center;
    background: #eeeeee;
}


