body {
    font  : 16px sans-serif;

}

form {
    position: relative;
    width : 560px;
    margin : 0 auto;
    color: black;
    text-align: left;
}


input[type=text] {
    width: 560px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkgray;
    border-radius: 4px;
}

input[type=radio] {
    width: 560px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkgray;
    border-radius: 4px;
    display: inline-block;
}

input[type=password] {
    width: 560px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkgray;
    border-radius: 4px;
}

input[type=number] {
    width: 560px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkgray;
    border-radius: 4px;
}

input[type=range] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkgray;
    border-radius: 4px;
    width: 560px;
}

input[type=url] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid darkgray;
    border-radius: 4px;
    width: 560px;
}

.cardinfo {
    width: 100%;
    display: block;
}

.gender {
    display: inline-block;
}

sup {
    color: red;
}

input.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px 6px 12px;

}

.col-xs-3 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.radio-inline {
    display: inline;
    margin-left: 3em;
}

.col-xs-6 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.form-inline {
    display: inline;
    width: 560px;
}

.choose {
    width: 560px;
}

input[type="submit"] {
    border:0.5px solid forestgreen;
    background-color: forestgreen;
    color: white;
    float: right;
    border-radius: 2px;
    height: 40px;
    width: 80px;
}