h1 {
    color: orange;
    text-align: right;
    width: 50%;
}

p {
    width: 50%;
}

h1 ~ p:first-letter {
    font-size: 200%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
}

em {
    color: white; /* Белый цвет текста */
    background-color: green; /* Зеленый цвет фона */
}

div ~ h2 {
    font-weight: bold; /* Жирное написание текста */
}

#allotment > h2 {
    color: orange; /* Оранжевый цвет текста */
}

#warehouse > h2 {
    color: blue; /* Синий цвет текста */
}

ul li {
    font-weight: bold; /* Жирное написание текста */
}

ol li {
    font-weight: normal; /* Обычное написание текста */
}

.vegetables-list>li {
    color: red; /* Красный цвет текста */
}

#warehouse ol.fruits-list>li {
    color: green; /* Зеленый цвет текста во втором списке */
}

thead>tr>td {
    font-weight: bold; /* Жирное написание текста */
    text-align: center; /* Выравнивание по центру */
}

tbody tr>td {
    color: orange;
}

tbody td+td {
    color: white; /* Белый цвет текста */
    text-align: center; /* Выравнивание по центру */
    background-color: green; /* Зеленый цвет фона */
}